body {
  background-color: #f7f9fb;
  font-size: 12pt;
  background-image: url("../images/blueMaterial.png");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: 100% 50%;
}

.dropdown-menu {
  z-index: 100 !important;
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #FFFFFF;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: -2;
}


.post-header {
  background-color: #0099cc;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.post-header-image {
  display: block;
  margin: 0 !important;
  width: 100% !important;
  max-width: 100%;
  position: relative;
  z-index: 10;
}

.post-article {
  padding: 30px;
  display: inline-block;
}
